/*
    Created on : 01/12/2015, 09:36:08
    Author     : gilmario
*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.Inativo{
    color: red;
    background: rosybrown;
}
.Ativo{
    /*color: green;*/
    background: greenyellow;
}

.mostrador{
    top: 5px;
    right: 5px;
    position: absolute;
    transition-duration: 1s;
    opacity: 0.5;
}

.mostrador:hover {
    opacity: 1;
    transition-duration: 1s;
}


